.invoice-page {
    padding: 10px;
}

.invoice-header {
    display: flex;
    flex-direction: column;
    padding-bottom: -5px;
}

.invoice-header h2 {
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.invoice-description {
    color: #333;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 120px;
    border-bottom: 2px solid #007aff; 
    padding-bottom: 15px; 
}

.invoice-buttons {
    display: flex; 
    gap: 10px; 
    align-items: center; 
}

.invoice-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.invoice-buttons .add {
    color: #fff;
    background-color: #007aff;
}

.invoice-buttons .add:hover {
    background-color: #333;
    color: white;
}

.invoice-buttons .download {
    border: 1px solid black;
    background-color: white;
}

.invoice-buttons .download:hover {
    background-color: #007aff;
    color: white;
    border: 1px solid #007aff;
}
